
.span9
  - unless @entry.postable.blank?
    = render "postablr/blog/show/#{@entry.postable_name}",  :postable => @entry.postable

.span2

  %h3 Tags:
  = raw @entry.tags.collect{|o| link_to o.name, blog_tag_path(o.name)}.join(", ")

  - unless @relateds.blank?
    %h3 Related
    - @relateds.each do |entry|
      = link_to entry.postable.to_s , blog_entry_path( entry )


  = render "postablr/blog/show/aside"
