%li.article.video{:id=>"entry-#{postable.entry.id}"}
  %span.editor

  .article_video
    = raw postable.embed_html

  .article_meta
    %span.meta.kind Video
    %h3
      = postable.title
      %span.meta.author
        Por
        = postable.entry.user.name

  .article_text
    %p
      -#= raw sanitize_clean(postable.body , 200 , " #{link_to t('read_more'), blog_entry_path( postable.entry ) } ..." )