<!DOCTYPE html>
%html
  %head
    %title Dummy
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        %a.brand{:href => "#"} Postablr
        %ul.nav
          %li.active
            %a{:href => "/"} Home
          %li
            = link_to "Entries" , entries_path
          %li
            = link_to "Blog" , blog_path

    .container-fluid
      .row-fluid
        .span2{:style=>"margin-top:20px"}
          / Sidebar content
          = manage_entries_menu

        .span10{:style=>"margin-top:40px"}
          / Body content
          = yield
