- cache("CommentPartial-#{comment.id}") do
  %li{:id=>"entry-comment-#{comment.id}"}
    = image_tag comment.user.profile.avatar.url(:thumb)
    .comment_data
      %h5
        = comment.user.name
        %span.metadata
          = l( comment.created_at, :format=>:short)
      .comment
        = comment.body