
- cache("UserEntries-#{entry.id}-#{entry.updated_at}") do
  %li{:id=>"entry-#{entry.id}", :class=>entry.postable_name}

    .article_meta
      %span.meta.badge= entry.postable_name
      %span.meta.status= entry.is_published ? "Published" : "Not published"
      %span.meta.author
        By
        = entry.user.name
      %span.date
        On
        = l entry.publish_at, :format=>:short

      = link_to edit_entry_path(entry) do
        %span.icon-edit
        edit
      = link_to entry_path(entry), :method=>:delete , :confirm=>"are you sure?" do
        %span.icon-remove
        destroy


    = render "postablr/entries/list/#{entry.postable_name}",  :postable => entry.postable


