
%ul
  %li
    = link_to "Publish Text", new_entries_for_path("post")
  %li
    = link_to "Publish Quote", new_entries_for_path("quote")
  %li
    = link_to "Publish Image", new_entries_for_path("image")
  %li
    = link_to "Publish Audio", new_entries_for_path("audio")
  %li
    = link_to "Publish Video", new_entries_for_path("video")
  %li
    = link_to "Publish Link", new_entries_for_path("link")