
%iframe{:id=>"upload_frame", :name=>"upload_frame", :style=>"display: none"}
/
  Inside your views, use the 'simple_form_for' with one of the Bootstrap form
  classes, '.form-horizontal', '.form-inline', '.form-search' or
  '.form-vertical', as the following:

= simple_form_for @entry , :url=> (@entry.new_record? ? new_fast_upload_path : edit_fast_upload_path), :html=>{:multipart=>true, :path=>new_fast_upload_path, :class=>"form-inline"} do |f|
  .row-fluid
    .span8

      - unless @entry.new_record?
        %input{:name=>:post_id, :type=>:hidden, :value=>@entry.id}
      - else
        %input{:name=>:type, :type=>:hidden, :value=>params[:type]}

      = f.fields_for :postable do |postable|

        %h3
          %span.icon-edit
          Publicar → #{@entry.postable_name}
        = render "postablr/entries/fields/#{@entry.postable_name}",  :f => postable

      = f.input :tag_list, :input_html=>{:class=>"input-xxlarge"}

      = f.button :submit, :button_html => { :disable_with => 'Wait...' }
      .uploader_div
        #uploading{ :style => "display:none" }
          #progress.bar
            #progressbar
          #statusBar
          .plane
        #load_photos{ :style => "display:none" }

    .span4
      .form_block.options
        %h4
          %span.icon-wrench
          Options
        = f.input :publish_state , as: :select, collection: @entry.publisher_collection, label: false, include_blank: false
        = f.input :publish_at  , :as=>:string, :input_html=>{:class=>"datepicker"}
        -#= f.input :unpublish_at, :as=>:string, :input_html=>{:class=>"datepicker"}
        -#= f.input :is_published
        .span4
          = f.input :comments_enabled
        .span2
          = f.input :highlight
        .span12
          = f.input :slug
        .span12
          = f.input :content_source
